/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* /common */

/* Main */
main {
    display: flex;
}

/* Main - aside */
aside {
    width: 200px;
    height: calc(100vh - 90px);
    background-color: black;
}

/* Main - aside - Navbar */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav {
    height: 100%;
    /* background-color: salmon; */
    padding-left: 15px;
}

.user {
    height: 80px;
    /* background-color: salmon; */
}

.logo {
    height: 90px;
    line-height: 90px;
    padding-right: 30px;
}
.logo > img {
    vertical-align: middle;
}

.menu {
    list-style: none;    
}
.menu li {
    line-height: 35px;
    color: #676767;
    overflow-y: auto;
}
.menu a {
    text-decoration: none;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #676767;
}
.menu li:first-child,
.menu li:first-child a {
    color: white;
}

.menu i {
    font-size: 20px;
    vertical-align: middle;
}

.playlist {
    margin-top: 10px;
}

h5 {
    color: white;
}

.menu .fa-plus-square {
    font-size: 30px;
}

.icon_nav {
    display: none;
}

.user {
    margin: 0 15px;
}

.install {
    padding: 5px 0;
    border-bottom: 1px solid #676767;
    font-weight: bold;
    font-size: 12px;
    color: #676767;
}

.profile {
    margin-top: 10px;
}

.profile i {
    font-size: 20px;
}

.profile span {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

/* Main - section */
section {
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: auto;
}

/* Main - Section-top */
.section_top {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 90px;    
    background-color: rgba(0, 0, 0, 0.5);
}

.profile {
    color: white;
}

/* Footer */
footer {
    height: 90px;
    position: relative;
    z-index: 2;
    background-color: #282828;
}


/* Media */
@media screen and (max-width: 767px) {
    
    aside {
        width: 50px;
    }

    .nav {
        padding-left: 0px;
    }
    
    .logo,
    .navbar,
    .playlist,
    .user {
        display: none;
    }

    .icon_nav {
        display: block;
        padding: 10px 5px;
        text-align: center;
    }

    .icon_nav i {
        margin: 5px 0;
        color: white;
    }

    section {
        width: calc(100% - 50px);
    }

    .section_top {
        width: calc(100% - 50px);
    }

}